
.home{
    min-height: 50vh;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}
.home-card{
    
}
.home-card img{
    height: 35vw;
    margin: 0 12px 12px 0;
    
}
.home-card p{
    margin: 0;
}


