
<style>
    
    .home{
        min-height: 50vh;
        margin-top: 7px;
        display: flex;
        flex-direction: column;
    }
    .home-card{
        
    }
    .home-card img{
        height: 35vw;
        margin: 0 12px 12px 0;
        
    }
    .home-card p{
        margin: 0;
    }

</style>
<div class="home">
    {{ range .Site.Data.home }}
    <div class="home-card">
            <img 
            style="float: {{ .float }};" 
            src="{{ .cover }}" 
            alt="cover">
            <p> {{ .description }}</p>
        </div>
    {{ end }}
    
</div>